<!DOCTYPE html>
<html lang="en">

<head></head>

<body>

  <h1 class="text-center title-1"> Lista de Usu&aacute;rios </h1>
  <a href="/user">Cadastro de usuário</a>
  <ul>
    <% docs.forEach((user)=> { %>
      <li><a href="mailto:<%= user.email %>">
          <%= user.username %>
        </a>
      </li>
      <%})%>
  </ul>
</body>

</html>